html {
	margin-top: 5px;
	margin-bottom: 5px;
    
}

body {
	font-family: 'Staatliches', cursive;
	font-size: 93%;
	line-height: 1.5em;
	margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #f46242;
    text-align: center;
}

footer {
    text-align: center;
    background:#f46242;
}

.jumbotron {
    background: url(https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/180405.jpg);
    background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #f46242;
    font-family: 'Bangers', cursive;
}
.card {
	margin-top: 5px;
    margin-bottom: 5px;
}